@import "tailwindcss";

::-webkit-scrollbar {
  width: 6px; /* make scrollbar thin */
  height: 6px; /* for horizontal scroll */
}

::-webkit-scrollbar-track {
  background: transparent !important; /* remove bg */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4); /* visible thumb */
  border-radius: 9999px; /* fully rounded */
}

.frosted-glass {
  background-color: rgba(247, 247, 247, 0.7); /* Semi-transparent background */
  backdrop-filter: blur(0px); /* The key property for the blur effect */
}
